.wraper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0000004f;
  top: 0;
}
.wraperData {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span {
  position: absolute;
  top: -8px;
  right: -25px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}
